* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #008080; 
    color: #ffffff; 
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #111; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 auto;
}

.box {
    height: 140px;
    width: 140px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 3.5rem;
    cursor: pointer;
    background-color: #f5f54f; 
    color: #d01e1e; 
    transition: background-color 0.3s, color 0.3s;
}

/* .box:hover {
    background-color: #d01e1e;
    color: #f5f54f; 
} */

#reset, #ng {
    margin-top: 20px;
    height: 50px;
    width: 110px;
    border: none;
    border-radius: 15px;
    font-size: 1.03rem;
    background-color: #d01e1e; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* #reset:hover, #ng:hover {
    background-color: #f5f54f;
    color: #d01e1e;
} */

.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    font-size: 4rem;
    color: gold;
}

.hide {
    display: none;
}

.message {
    margin-top: 15px;
    font-size: 2rem;
}

@media screen and (max-width: 470px) {
    .game {
        width: 330px;
        gap: 10px;
    }

    .box {
        height: 100px;
        width: 100px;
        font-size: 3rem;
    }

    .msg-container {
        height: auto;
        font-size: 2rem;
    }

    #reset, #ng {
        height: 40px;
        width: 100px;
    }
}
